{% extends 'base.html' %}

{% block header %}
<div class="alert alert-info text-center" role="alert">
    <h1>プロレス技診断</h1>
</div>
{% endblock header %}

{% block content %}
<main role="main" class="container">

    <img src="/images/test.png" class="img-fluid" alt="トップ画像">
    <div class="jumbotron">
        <div class="text-center">
        <h1>プロレス技診断</h1>
        あなたに合ったプロレス技を診断！
        </div>
        <br>
        <div class="mx-auto" style="width: 375px;">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}

                <p>問1. パワー系とテクニック系どちらが好き？<br>
                    <input type="radio" name="q1" value="パワー"> パワー系
                    <br>
                    <input type="radio" name="q1" value="テクニック"> テクニック系
                </p>
                
                <p>問2. あなたが大事にしたいのは？<br>
                    <input type="radio" name="q2" value="スター性"> キラキラしたスター性
                    <br>
                    <input type="radio" name="q2" value="独自性"> 誰とも被らない独自性
                </p>
                
                <p><input type="submit" value="診断する"></p>
            </form>
        </div>
    </div>
</main>
{% endblock content %}