{% extends 'base.html' %}


{% block content %}
<main role="main" class="container">

    <img src="https://ul.h3z.jp/umnekHhg.png" class="img-fluid" alt="トップ画像">
    <div class="card-body border">
        <div class="text-center">
        あなたに合ったプロレス技を診断！
        </div>
        <br>
        <div class="mx-auto" style="width: 375px;">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}

                <p>問1.どんな技が好き？<br>
                    <input type="radio" name="q1" value="打撃、投げ"> 打撃、投げ
                    <br>
                    <input type="radio" name="q1" value="空中、関節"> 空中、関節
                    <br>
                    <!-- <input type="radio" name="q1" value="どちらとも言えない"> どちらとも言えない -->
                </p>

                <p>問2.パワー系とテクニック系で選ぶなら？<br>
                    <input type="radio" name="q2" value="パワー系"> パワー系
                    <br>
                    <input type="radio" name="q2" value="テクニック系"> テクニック系
                    <br>
                    <!-- <input type="radio" name="q1" value="どちらとも言えない"> どちらとも言えない -->
                </p>
                
                <p>問3.あなたが大事にしたいのは？<br>
                    <input type="radio" name="q3" value="スター性"> スター性
                    <br>
                    <input type="radio" name="q3" value="独自性"> 独自性
                    <br>
                    <!-- <input type="radio" name="q2" value="どちらとも言えない"> どちらとも言えない -->
                </p>
                <p><input type="submit" value="診断する"></p>
            </form>
        </div>
    </div>
</main>
{% endblock content %}